<!DOCTYPE html>
<html lang="en">
  <head>
    <title>title</title>
    <meta name="description" content="" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="icon"
      href="https://lh3.googleusercontent.com/BB0PMpu0m_DXBgreKRK_GBhTECtxp0M7eyuOdSjdBqqqZKMIEkdtwXsm1-GVAeuqVeTwZeaVcRoIqDkwIV518qP1=s32-c"
      type="image/png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.turbo360-vertex.com/blog-tutorial-mv3m1d/public/dist/css/style.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
</html>
