<%- include('header'); -%>
<body>
    <div class="row">
      <form class="col s12" action="/users/login" method="post">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="name" id="name" name="name" type="text" class="validate">
            <label for="first_name">Display Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" name="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>    
      </form>
    </div>
  </body>
</html>
