<div class="right">
  <a href="/login/auth/fb" class="waves-effect waves-light btn-large right"
    >Facebook</a
  >
  <a href="/login/auth/gg" class="waves-effect waves-light btn-large right"
    >Google</a
  >
  <a href="/login" class="waves-effect waves-light btn-large right">Login</a>
</div>
<section class="smart-scroll">
  <div class="container">
    <div
      class="text-center d-none d-md-block logo-top position-relative py-md-5"
    >
      <a class="navbar-brand heading-black" href="/">
        <img class="img-logo" src="/images/logo.jpg" height="200" width="800" />
      </a>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="d-md-none navbar-brand heading-black" href="/">
      <img class="img-logo" src="logo.jpg" />
    </a>
    <button
      class="navbar-toggler navbar-toggler-right border-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse nav-wrapper" id="navbarCollapse">
      <div class="container-fluid header-nav" id="header-nav">
        <ul class="head-nav text-center mb-0" style="margin-left: 500px">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/posts/user/<%=userId%>">Your Blog</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="">Your Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/posts/upload">Post Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
