<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The (K) Feature</title>
    <meta name="description" content="" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="icon"
      href="https://lh3.googleusercontent.com/BB0PMpu0m_DXBgreKRK_GBhTECtxp0M7eyuOdSjdBqqqZKMIEkdtwXsm1-GVAeuqVeTwZeaVcRoIqDkwIV518qP1=s32-c"
      type="image/png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.turbo360-vertex.com/blog-tutorial-mv3m1d/public/dist/css/style.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="about-page" id="vertex-container">
      <section class="smart-scroll">
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="d-md-none navbar-brand heading-black" href="/">
            <img
              class="img-logo"
              src="https://lh3.googleusercontent.com/HuIRLHuScbAkfYUeYBGeczSPnhnGEamaQoidz9ohkkm6PkPxYUiOD6XI3oryNNdgMveIEzAR4GZkSa6TEPR89D0l=s320"
            />
          </a>
          <button
            class="navbar-toggler navbar-toggler-right border-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse nav-wrapper" id="navbarCollapse">
            <div class="container-fluid header-nav" id="header-nav">
              <ul class="head-nav text-center mb-0">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/posts?category=health">health</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/posts?category=fashion">fashion</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/posts?category=travel">travel</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/posts?category=business"
                    >business</a
                  >
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </section>

      <div class="container">
        <div class="row">
          <div class="contact col-md-12">
            <form action="/posts" method="post">
              <div class="row mt-4">
                <div class="col-md-4">
                  <label> TITLE </label>
                  <div class="form-group">
                    <input
                      type="text"
                      id="title"
                      name="title"
                      class="form-control"
                      placeholder=""
                    />
                  </div>
                </div>

                <div class="col-md-4">
                  <label> aythorId </label>
                  <div class="form-group">
                    <input
                      type="text"
                      id="authorId"
                      name="authorId"
                      class="form-control"
                      placeholder=""
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <label> isPublic </label>
                  <div class="form-group">
                    <input
                      type="text"
                      id="isPublic"
                      name="isPublic"
                      class="form-control"
                      placeholder=""
                    />
                  </div>
                </div>

              <div class="col-md-12">
                <label> Description </label>
                <div class="form-group">
                  <textarea
                    name="description"
                    id="description"
                    cols="150"
                    rows="10"
                  ></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <label> Content </label>
                <div class="form-group">
                  <textarea
                    name="content"
                    id="content"
                    cols="150"
                    rows="10"
                  ></textarea>
                </div>
              </div>

              <div class="col-md-12">
                <input
                  type="submit"
                  id="submit"
                  value="Post"
                  class="btn btn-primary btn-submit"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="/ckeditor/ckeditor.js"></script>
<script>
  CKEDITOR.replace("content", {
    extraPlugins: "filebrowser",
    filebrowserBrowseUrl: "/list", //upload location
    filebrowserUploadMethod: "form",
    filebrowserUploadUrl: "/upload", //route
  });
  CKEDITOR.replace("description");
</script>
